@import 'mixins';
@import 'var';
//@import 'fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  font-size: 14px;
  line-height: 1.2;
  color: var(--main-color-text);
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 16px;
}

h2 {
  font-size: 14px;
}

h3 {
  font-size: 12px;
}

h1,
h2,
h3 {
  font-weight: bold;
  text-transform: uppercase;
}

.wrapper {
  @include flex-center();
  min-width: 330px;
  padding-top: 20px;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  padding: 0 5px;
  margin: 0 auto;
}

.section-title {
  margin-bottom: 26px;
  text-align: center;
}
.post-item,
.instagram-shot {
  text-align: center;
}
.title-l::before {
  content: '- ';
}

.title-r::after {
  content: ' -';
}

.header,
.main,
.aside,
.footer {
  width: 100%;
  @include flex-center();
}

.visible-md {
  display: none;
}

@media screen and (min-width: 768px) {
  //.post-item {
   // align-content: center;
//  }

  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 14px;
  }

  .visible-sm {
    display: none;
  }

  .visible-md {
    display: inline-block;
  }

  .container {
    width: 778px;
  }
}

.instagram-shots__title {
  display: flex;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}


.nav-main {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.intro {
  margin-top: 23px;

  img {
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 768px) {
  .nav-main {
    @include flex-center();
  }
}

/**************** nav  *********************/
.header-menu {
  position: absolute;
  display: none;
  list-style: none;
  background: #f5f5f5;
  top: 37px;
  width: 180px;
  z-index: 50;

  &.active {
    display: flex;
    align-items: flex-start;
  }

  .header-menu__items {
    width: 100%;
  }

  .header-menu__item {
    display: flex;

    &.active {
      .item__link {
        color: var(--active-color-menu);
      }
    }

    .item__link {
      color: var(--main-color-text);
      text-transform: uppercase;
      width: 100%;
      font-size: 11px;
      padding: 8px 13px;

      &:hover {
        background: #e5e5e5;
      }
    }
  }
}

.burger-menu {
  @include flex-center;
  cursor: pointer;
  width: 44px;
  height: 37px;
  background: #000;
  color: #fff;

  .fa-bars {
    display: inline-block;
  }

  .fa-xmark {
    display: none;
  }

  &.active {
    .fa-bars {
      display: none;
    }

    .fa-xmark {
      display: inline-block;
    }
  }
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }

  .header-menu {
    position: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background: transparent;
    z-index: 50;
    width: 80%;

    .header-menu__items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }
  }
}

.main__row {
  padding: 36px 0;
}

@media screen and (min-width: 768px) {
  .instagram-shot__row {
    background: #f7f7f7;
  }
}

/************* our-recent-posts ************/
.recent-posts__content {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 28px;

  .post-item {
    // margin-bottom: 36px;

    &:nth-child(n + 4) {
      display: none;
    }

    .our-item__img img {
      object-fit: cover;
      width: 160px;
    }

    .post-item__title {
      font-weight: bold;
      font-size: 14px;
      text-transform: capitalize;
      margin: 10px 0;
    }

    .post-item__info {
      font-size: 11px;
      color: var(--third-color-text);
    }

    .post-item__text {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .recent-posts__content {
    flex-wrap: wrap;
    gap: 32px;

    .post-item {
      width: 80%;

      &:nth-child(n + 1) {
        display: flex;
        gap: 20px;
      }

      .post-item__title {
        font-size: 16px;
      }

      .post-item__info {
        font-size: 12px;
      }

      .post-item__text {
        display: inline-block;
        line-height: 26px;
        margin: 10px 0;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .recent-posts__content {
    flex-direction: row;
    flex-wrap: wrap;

    .post-item {
      width: 48%;
    }
  }
}

/*********** latest-instagram-shots *************/
.aside__row {
  width: 100%;
  padding: 36px 0;
}

.instagram-shots__title {
  display: flex;
  justify-content: space-around;

  .instagram-shots__link {
    display: none;
    color: var(--main-color-text);
  }
}

.instagram-shots__content {
  list-style: none;

  .shot-item {
    &:nth-child(n + 2) {
      display: none;
    }

    .shot-item__img img {
      object-fit: cover;
      width: 300px;
    }
  }
}

@media screen and (min-width: 768px) {
  .aside__row {
    background: #f7f7f7;
  }

  .instagram-shots__title {
    .instagram-shots__link {
      display: inline-block;
      font-size: 16px;
      margin-bottom: 36px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .instagram-shots__content {
    display: flex;
    gap: 9px;

    .shot-item {
      &:nth-child(n + 1) {
        display: inline-block;
      }

      &:nth-child(n + 4) {
        display: none;
      }

      .shot-item__img img {
        width: 250px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .instagram-shots__content {
    gap: 10;

    .shot-item {
      &:nth-child(n + 1) {
        display: flex;
      }

      .shot-item__img img {
        width: 285px;
      }
    }
  }
}

.footer__row {
  width: 100%;
  background: #000;

  .footer__content {
    @include flex-center;
    color: var(--second-color-text);
    flex-direction: column;
    margin: 38px auto;

    .footer__title {
      color: #fff;
      text-align: center;

      &::after {
        content: ' -';
      }
    }

    .footer__text {
      text-align: center;
      font-size: 12px;
      line-height: 20px;
    }

    .footer__social-buttons {
      @include flex-center;
      gap: 6px;
      list-style: none;
      margin: 25px 0;

      .social-btn {
        @include flex-center;
        border: 2px solid #000;
        border-radius: 50%;
        font-size: 12px;
        width: 34px;
        height: 34px;
      }

      .btn__rss {
        border-color: #f8902e;
        color: #f8902e;
      }

      .btn__facebook {
        border-color: #39599f;
        color: #39599f;
      }

      .btn__twitter {
        border-color: #45b0e3;
        color: #45b0e3;
      }

      .btn__dribbble {
        border-color: #d97ab0;
        color: #d97ab0;
      }

      .btn__pinterest {
        border-color: #cc212c;
        color: #cc212c;
      }
    }

    .footer__address {
      @include flex-center;
      flex-direction: column;
      text-align: center;
      font-size: 14px;
      line-height: 24px;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer__row {
    .footer__content {
      width: 680px;

      .footer__text {
        font-size: 16px;
        line-height: 26px;
      }

      .footer__address {
        flex-direction: row;
        font-size: 16px;
        line-height: 26px;
      }
    }
  }
}